<!-- The content heading -->
<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <% res.redirect('/') %>
<% } %>

<!-- Message block -->
<%- messages() %>

<!-- Display error -->
<% if (errors && !errors.isEmpty()) { %>
  <ul class="notice-registration">
    <% errors.array().forEach(error => { %>
      <% if (error.msg !== "Invalid value") { %>
        <li><%= error.msg %></li>
      <% } %>
    <% }) %>
  </ul>
<% } %>


<!-- Account Update Form -->
  <section class="section-container">
    <h2>Account Update</h2>

    <form id="updateForm" action="/account/update" method="post" class="form">

      <label for="account_firstname">First Name:</label>

      <input type="text" id="account_firstname" name="account_firstname" 
             value="<%= accountData.account_firstname %>" required>

      <label for="account_lastname">Last Name:</label>

      <input type="text" id="account_lastname" name="account_lastname" 
      value="<%= accountData.account_lastname %>" required>

      <label for="account_email">Email Address:</label>

      <input type="email" id="account_email" name="account_email" 
             value="<%= accountData.account_email %>" required>

      <!-- Hidden account_id -->
      <input type="hidden" name="account_id" value="<%= accountData.account_id %>">

      <input type="submit" value="Update Account">
    </form>
  </section>

  <!-- Change Password Form -->
  <section class="section-container">
    <h2>Change Password</h2>

    <span id="password-rules" class="password-rules">
    Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character
    </span>

    <form action="/account/update-password" method="post" class="form">

    <label for="account_password">New Password:</label>

    <input type="password" id="account_password" name="account_password" class="password-input" required
    aria-describedby="password-rules"
    pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\\s).{12,}$">

     <button type="button" class="toggle-btn" data-toggle="password" aria-pressed="false">Show Password
     </button>

    <!-- Hidden account_id -->
    <input type="hidden" name="account_id" value="<%= accountData.account_id %>">

    <button type="submit" class="submit-btn">Change Password
    </button>
    </form>
  </section>
 
<!-- Import Show/Hide Password Toggle Function -->
<script src="/js/script.js"></script>