<!-- Content heading -->
<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <%- res.redirect('/') %>
<% } %>

<!-- Flash message -->
<%- messages() %>

<section class="section-container">
  <p>Confirm Deletion - The deletion is permanent.</p>

  <form id="deleteForm" action="/inv/delete/" method="post" class="form">

    <!-- Make -->
    <label for="inv_make">Make:</label>
    <input type="text" readonly <% if(locals.inv_make) { %> value="<%= locals.inv_make %>"<% } %>>

    <!-- Model -->
    <label for="inv_model">Model:</label>
    <input type="text" readonly <% if(locals.inv_model) { %> value="<%= locals.inv_model %>"<% } %>>

    <!-- Price -->
    <label for="inv_price">Price:</label>
    <input type="text" readonly <% if(locals.inv_price) { %> value="<%= locals.inv_price %>"<% } %>>

    <!-- Year -->
    <label for="inv_year">Year:</label>
    <input type="text" readonly <% if(locals.inv_year) { %> value="<%= locals.inv_year %>"<% } %>>

    <!-- Hidden Input -->
    <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"<% } %>>

    <!-- Delete button -->
    <button type="submit" class="submit-btn">Delete</button>
  </form>
</section>
